@charset "UTF-8";
.nav {
	background-color: transparent;
	position: fixed;
	z-index: 5;
	width: 600px;
	height: 300px;
	left: 25%;
	top: 40%;
}

.center_p {
  margin: 0;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}